<%- include('../header.ejs') -%>
<p style="display:none;" id ="user_local"><%=user%></p>
<p style="display:none;" id ="role_local"><%=role%></p>

<div>
  <p display = "none" already_set=false id ="user_local" value = <%=user%> ></p>
  <p display = "none" already_set=false id ="role_local" value = <%=role%> ></p>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <br>
  <!-- <form method = "get" action = "/check_full">
    <button type = "submit">check full</button>
  </form> -->
  <!-- <button id="check_full" onclick = "check_full()">check full</button>
  <br><br>
  <button id="get_quantity" onclick = "get_quantity()">get_quantity</button>
  <br><br>
  <button id="get_owner" onclick = "get_owner()">get_owner</button>
  <br><br> -->


<!-- 
  <form method = "get" action = "/init">
    <button type = "submit">strart contract</button>
  </form>
  <br>
 -->

 <form method = "get" action = "/rooms">
  <button type = "submit">explore rooms</button>
</form>
<br>




  <form method = "get" action = "/remove">
    <button type = "submit">remove value</button>
  </form>
  <br>
  <form method = "get" action = "/send_money">
    <button type = "submit">send money</button>
  </form>
  <br>
  <form method = "get" action = "/test_msg.data">
    <button type = "submit">test msg.data</button>
  </form>
  <br>
  <form method = "get" action = "/add_hash_to_db">
    <label for="hash_input">insert hash:</label>
    <input id = "hash_input" type="text" name="hash" >
    <button type = "submit">add hash to db</button>
  </form>
  <br>
  <form method="get" action="/balance" onsubmit="return isAddress(document.getElementById('account_input').value)">
    <label for="account_input"> Insert address:</label>
    <input id = "account_input" type="text" name="account" >
    <button id="search_balance" type="submit">search</button>
  </form>
  <br><br>
  <button onclick="print_globals()">check global vars</button>

</div>



<script>


  var {rentContract} = require("../web3_init");
  var globals = require("../global")
  
  function onloaded(){
    // document.getElementById("user_global").textContent = document.getElementById("user_local").value;
    // document.getElementById("role_global").textContent = document.getElementById("role_local").value;
    var user_set = document.getElementById("user_local").getAttribute("already_set");
    var role_set = document.getElementById("role_local").getAttribute("already_set");
    var u_set=false;
    var r_set=true;
    if(user_set == "true") u_set=true;
    if(role_set == "true") r_set=true;
    
    if(!u_set){
      document.getElementById("user_local").setAttribute("already_set","true");
      document.localStorage.setItem("user_global", document.getElementById("user_local").value);
    }
    if(!r_set){
      document.getElementById("role_local").setAttribute("already_set","true");
      document.localStorage.setItem("role_global", document.getElementById("role_local").value);
    }

    // alert("setting")
    // set_globals(document.getElementById("user_local").value,document.getElementById("role_local").value)
  }

  function print_globals(){
    alert(localStorage.getItem("user_global"))
    alert(localStorage.getItem("role_global"))
  }
  function check_full(){
    fetch("http://localhost:3000/check_full")
    .then(data=>{
      return data.text()
    })
    .then(data=>{
      alert(data)
    })
  }

  function get_quantity(){
    fetch("http://localhost:3000/quantity")
    .then(data=>{
      return data.text()
    })
    .then(data=>{
      alert(data)
    })
  }

  function get_owner(){
    fetch("http://localhost:3000/owner")
    .then(data=>{
      return data.text()
    })
    .then(data=>{
      alert(data)
    })
  }

  document.addEventListener("DOMContentLoaded", onloaded())


</script>

